<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <cmail-header></cmail-header>
  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="mdl-grid">
        <form [formGroup]="formCadastro" (ngSubmit)="handleCadastroUsuario()">
          <cmail-form-group [campo]="formCadastro.get('nome')">
            <input formControlName="nome" autofocus required type="text" name="nome" cmailFormField>
            <span class="mdl-textfield__error" *ngIf="formCadastro.get('nome').getError('required')">Informar um nome obrigatório!</span>
            <span class="mdl-textfield__error" *ngIf="formCadastro.get('nome').getError('minlength')">Informar pelo menos 3 caracteres!</span>
          </cmail-form-group>
          <cmail-form-group [campo]="formCadastro.get('username')">
            <input formControlName="username" required type="text" name="username" cmailFormField>
            <span class="mdl-textfield__error" *ngIf="formCadastro.get('username').getError('required')">Informar um username obrigatório!</span>
            <span class="mdl-textfield__error" *ngIf="formCadastro.get('username').getError('minlength')">Campo deve conter mais de 6 caracteres!</span>
            <span class="mdl-textfield__error" *ngIf="formCadastro.get('username').getError('maxlength')">Campo deve conter menos de 10 caracteres!</span>
          </cmail-form-group>
          <cmail-form-group [campo]="formCadastro.get('senha')">
            <input formControlName="senha" required type="password" name="senha" cmailFormField>
            <span class="mdl-textfield__error" *ngIf="formCadastro.get('senha').getError('required')">Informar um password obrigatório!</span>
            <span class="mdl-textfield__error" *ngIf="formCadastro.get('senha').getError('pattern')">A senha deve ser maior que 8 e deve conter caracteres especiais, minusculos, maiusculos e numeros!</span>
          </cmail-form-group>
          <cmail-form-group [campo]="formCadastro.get('telefone')">
            <input formControlName="telefone" required type="text" name="telefone" cmailFormField>
            <span class="mdl-textfield__error" *ngIf="formCadastro.get('telefone').getError('required')">Informar um telefome obrigatório!</span>
            <span class="mdl-textfield__error" *ngIf="formCadastro.get('telefone').getError('pattern')">Informe um telefome válido</span>
          </cmail-form-group>
          <cmail-form-group [campo]="formCadastro.get('avatar')" >
            <input formControlName="avatar" type="text" name="avatar" cmailFormField>
            <span class="mdl-textfield__error" *ngIf="formCadastro.get('avatar').getError('required')">Informar um avatar obrigatório!</span>
            <span class="mdl-textfield__error" *ngIf="formCadastro.get('avatar').hasError('urlInvalid')">URL inválida</span>
            <span class="mdl-textfield__error mdl-textfield__checking" *ngIf="formCadastro.get('avatar').status === 'PENDING'">Validação pendente...</span>
            <span class="mdl-textfield__error mdl-textfield__valid" *ngIf="formCadastro.get('avatar').status === 'VALID'">URL válida</span>
          </cmail-form-group>

          <div class="mdl-card__actions">
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
              Cadastrar
            </button>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>
